<div class="step">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="row">
    <div class="col-lg-4">

        <div class="Box">
          <h1><img src="../../../assets/img/WhatsApp.svg.webp" width="130"></h1>
     <p>WhatsApp</p>
     <button class="btn"><i>Contato</i></button>
        </div>

    </div>

    <div class="col-lg-4">

      <div class="Box">
        <h1><img src="../../../assets/img/Facebook_f_logo_(2019).svg.png" width="150"></h1>
        <p>Facebook</p>
        <button class="btn"><i>Contato</i></button>
      </div>

    </div>





    <div class="col-lg-4">

      <div class="Box">
        <h1><img src="../../../assets/img/twitter-logo-3.png" width="150"></h1>
        <p>Twitter</p>
        <button class="btn"><i>Contato</i></button>

      </div>

    </div>

  </div>
