<h2>

 <br> Seja Bem Vindo!!
  <br> Ao
  <br> Cardapio
</h2>
<br><br><br>
<div class="display1">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras">X-Tudo</mat-card-title>
      <mat-card-subtitle>Lanche</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/lanche 1.png" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
      <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>

  <br>
  <br>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras">X-Salada</mat-card-title>
      <mat-card-subtitle>Lanche</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/lanche 2 xsalda.png" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
       <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>
  <br>
  <br>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras">X-Burguer</mat-card-title>
      <mat-card-subtitle>Lanche</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/lanche 3 x burg.png" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
       <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras"> X-Calabresa</mat-card-title>
      <mat-card-subtitle>Lanche</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/lanche 4 xcalabresa.png" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
       <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>
  <br>
  <br>



</div>
<br>


<div class="display1">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
     <mat-card-title class="letras">  X-Calabacon</mat-card-title>
      <mat-card-subtitle>Lanche</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/lanche 5 x-calabacon.png" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
       <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>

  <br>
  <br>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras">X-Egg</mat-card-title>
      <mat-card-subtitle>Lanche</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/lanche 6 x egg.png" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
       <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>
  <br>
  <br>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras">X-Bacon</mat-card-title>
      <mat-card-subtitle>Lanche</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/lanche 7 X_Bacon.png" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
       <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras">X-Egg Salada</mat-card-title>
      <mat-card-subtitle>Lanche</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/lanche 8 x egg salada.png" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
       <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>
  <br>
  <br>
</div>
<br>
<div class="display1">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras">Tamanho Familia</mat-card-title>
      <mat-card-subtitle>Lanche</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/lanche 9 tamanho familia.png" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
       <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>

  <br>
  <br>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras">Aneis De Cebola</mat-card-title>
      <mat-card-subtitle>Porção</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/aneis de cebola.gif" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
       <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>
  <br>
  <br>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras">Mini Lanhces</mat-card-title>
      <mat-card-subtitle>Lanche</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/lanches 10 lanchinhos.png" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
       <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras">Porção Peixe</mat-card-title>
      <mat-card-subtitle>Porção</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/porcao_peixe.png" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
       <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>
  <br>
  <br>
</div>

<br>

<div class="display1">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras">Porção Batata</mat-card-title>
      <mat-card-subtitle>Porção</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/porçao de batata com bacon.png" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
       <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>

  <br>
  <br>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras">Porção Calabresa</mat-card-title>
      <mat-card-subtitle>Porção</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/porçao de calabresa.png" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
       <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>
  <br>
  <br>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras">Porção Frango</mat-card-title>
      <mat-card-subtitle>Porção</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/porçao frango a passarinhi.png" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
       <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras">Guarana Lata</mat-card-title>
      <mat-card-subtitle>Bebida</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/Guaraná_antartica.png" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
       <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>

  <br>
  <br>
</div>
<br>
<div class="display1">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras">Coca Cola 1L</mat-card-title>
      <mat-card-subtitle>Bebida</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/coca 1 litro.jpg" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
       <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>

  <br>
  <br>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras">Coca Zero</mat-card-title>
      <mat-card-subtitle>Bebida</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/coca lata zero.jpg" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
       <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>
  <br>
  <br>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras">Coca Cola</mat-card-title>
      <mat-card-subtitle>Bebida</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/coca lata.png" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
       <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras">Suco Natural</mat-card-title>
      <mat-card-subtitle>Bebida</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/copo suco.png" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
       <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>
  <br>
  <br>



</div>

<br>
<div class="display1">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras">Fanta Laranja</mat-card-title>
      <mat-card-subtitle>Bebida</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/fanta laranja lata.png" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
       <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>

  <br>
  <br>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras">Fanta Uva</mat-card-title>
      <mat-card-subtitle>Bebida</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/fanta uva lata.png" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
       <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>
  <br>
  <br>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras">Pepsi Lata</mat-card-title>
      <mat-card-subtitle>Bebida</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/pepsi lata.png" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
      <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>

    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="letras">Suco Garrafa</mat-card-title>
      <mat-card-subtitle>Bebida</mat-card-subtitle>
    </mat-card-header>
    <article><img mat-card-image src="../../../assets/img/suco png.png" alt="Photo of a Shiba Inu"></article>
    <mat-card-content>
      <h1>R$ 20,00</h1>
      <p>
        Acompanhamento
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Adicionar</button>
      <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      <span class="flex-spacer"></span>


    </mat-card-actions>
  </mat-card>
  <br>
  <br>
</div>




