h1{
font-size: 2em;

}
p{
font-size: 1.5em;

}

button{
border: transparent;
background-color: white;
display: inline-block;

}
button:hover{

background-color: rgb(196, 227, 255);
border-radius: 10px;
}
