<ng-container *ngIf="true">
 <div class="container">
  <div class="card-table">
    <div class="cars-product">
      <table class="table table-resposive">
        <thead>
          <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Descriçao</th>
            <th>Codigo</th>
            <th>Total</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Xtudo</td>
            <td>1</td>
            <td>323</td>
            <td>10</td>
            <td>2032</td>
            <td>323</td>


          </tr>
        </tbody>
      </table>
    </div>
  </div>
 </div>
</ng-container>
<br><br>
<ng-container *ngIf="false">
  <div class="container">
    <div class="card">
      <h4 class="card-title">Carrinho</h4>
    </div>
    <div class="center">
      <img src="" alt="">
      <h5>add item</h5>
      <button class="btn btn-primary"></button>
    </div>

  </div>
</ng-container>


<div class="pagamento">
<h1>Forma de Pagamento??</h1>
<br>
<br>
<p>Cartao</p>
<button><img src="../../../../assets/img/cartoes.png" width="300"></button>
<br>
<br>
<br>
<p>Pix</p>
<button><img src="../../../../assets/img/pix-106.png" width="300"></button>
<br>
<br>
</div>
