<ng-container *ngIf="true">
 <div class="container">
  <div class="card-table">
    <div class="cars-product">
      <table class="table table-resposive">
        <thead>
          <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Descriçao</th>
            <th>Codigo</th>
            <th>Total</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Xtudo<br><img src="./assets/img/lanche%201.png" width="20%" /></td>
            <td>1</td>
            <td>323</td>
            <td>10</td>
            <td>2032</td>
            <td>323</td>

            <td><button class="btn btn-danger"><i class="bi bi-trash3-fill"> </i></button></td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
 </div>
</ng-container>
<br><br>
<button class="btn btn-danger" routerLink="/login"> <i class="bi bi-x-lg"> Finalizar </i></button>
<ng-container *ngIf="false">
  <div class="container">
    <div class="card">
      <h4 class="card-title">Carrinho</h4>
    </div>
    <div class="center">
      <img src="" alt="">
      <h5>add item</h5>
      <button class="btn btn-primary"></button>
    </div>

  </div>
</ng-container>
<br>
<br>
<br>




