<div class="banner">


</div>
<br>
<br>
<br>
<h2>Algumas Opçoes</h2>
<br>
<br>
<br>

<!-- --------------------------------------------------------- -->

<div class="step">

  <div class="row">
    <div class="col-lg-4">

      <div class="Box">
        <h1><img src="../../../assets/img/lanche 1.png" width="130"></h1>
        <p>X-Tudo</p>
        <p>R$ 10,00</p>
        <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>

      </div>

    </div>





    <div class="col-lg-4">

      <div class="Box">
        <h1><img src="../../../assets/img/lanche 2 xsalda.png" width="150"></h1>
        <p>X-Salada</p>
        <p>R$ 10,00</p>
        <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      </div>

    </div>


    <br>


    <div class="col-lg-4">

      <div class="Box">
        <h1><img src="../../../assets/img/lanche 3 x burg.png" width="150"></h1>
        <p>X-Burguer</p>
        <p>R$ 10,00</p>
        <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>

      </div>

    </div>

  </div>




  <br>






  <div class="row">
    <div class="col-lg-4">

      <div class="Box">
        <h1><img src="../../../assets/img/lanche 5 x-calabacon.png" width="180"></h1>
        <p>X-Calabacon</p>
        <p>R$ 10,00</p>
        <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      </div>

    </div>

    <br>


    <div class="col-lg-4">

      <div class="Box">
        <h1><img src="../../../assets/img/lanche 6 x egg.png " width="180"></h1>
        <p>X-Egg</p>
        <p>R$ 10,00</p>
        <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      </div>

    </div>


    <br>

    <div class="col-lg-4">

      <div class="Box">
        <h1><img src="../../../assets/img/lanche 7 X_Bacon.png" width="250"></h1>
        <p>X-Bacon</p>
        <p>R$ 10,00</p>
        <br>
        <br>
        <button  routerLinkActive="router-link-active"  class="btn-carrinho"><a href="carrinho"><i class="bi bi-cart4"></i></a></button>
      </div>

    </div>
<button routerLink='/menu' class="btn-carrinho">Ver Mais</button>
  </div>

  <br>


</div>
