<div class="box">
<br>
<br>
  <h2>Cadastro</h2>

  <br>
  <br>

  <input class="input" type="text" placeholder="Digite....">
  <h1>Nome</h1>

  <input class="input" type="text" placeholder="Digite....">
  <h1>Sobrenome</h1>


  <input class="input" type="text" placeholder="Digite....">
  <h1>CEP</h1>

  <input class="input" type="text" placeholder="Digite....">
  <h1>Endereço</h1>

  <input class="input" type="text" placeholder="Digite....">
  <h1>Numero</h1>
  <button class="btn" routerLink="/pagamento">Avançar</button>
  
  <button class="btn" >Salvar</button>
</div>
